# Working with the variable lenght arguments

In [ ]:
y = 4

def func(x = y):
  print(x)

func()

y = 8

def func1(x = y):
  print(x)

func()
func1()

4
4
8

## Passing arguments to the function with the help of asterics (*)


function 5 dene argument qebul edir

function(arg1 = 1, arg2 = 2, arg3 = 3, arg4= 4, arg5 =5 )

list = [1, 2, 3, 4, 5]

In [ ]:
# args

def function(arg1, arg2, arg3, arg4, arg5 = 0):
  print(arg1, arg2, arg3, arg4, arg5)

function(arg1 = 1, arg2 = 2, arg3 = 3, arg4= 4, arg5 =5 )

mylist = [1, 2, 3,  5]
# 1 - arg1
# 2 - arg2 
# 3 - arg3 
# etc

function(*mylist)

# kwarg - keyword arguments

mydict = {
    'arg1' : 1,
    "arg2" : 2,
    "arg3" : 3,
    "arg4" : 4,
    "arg5" : 5
}

function(**mydict)

1 2 3 4 5
1 2 3 5 0
1 2 3 4 5

In [ ]:
def func(x, y, arg1 = 0, arg2 = 1):
  print(f"Args: {x}; {y}")
  print(f"Kwargs: {arg1}; {arg2}")


values_tuple = (1, 2) # holds x and y
values_dict = {
    "arg1": 3,
    "arg2": 4
}

print("Common way to pass arguments:")
func(values_tuple[0], values_tuple[1], values_dict['arg1'], values_dict['arg2'])

print()
print("Pass arguments with args and kwargs:")
func(*values_tuple, **values_dict)

Common way to pass arguments:
Args: 1; 2
Kwargs: 3; 4

Pass arguments with args and kwargs:
Args: 1; 2
Kwargs: 3; 4

## Declaration of functions with \*args and **kwargs

In [ ]:
def func(*args, **kwargs):
  # 1 2 3 4 5 
  # 1 2 3
  # 1 2 
  print(f"Positional arguments: {args}")
  print(f"Keyword arguments: {kwargs}")

func(1, 2, 3, val1 = 4, val2 = 5, val3 = 6)

mylist = [1,2,3,4]
mydict = {
    "1": 1,
    "2": 2,
    "3": 3
}

func(*mylist, **mydict)

Positional arguments: (1, 2, 3)
Keyword arguments: {'val1': 4, 'val2': 5, 'val3': 6}
Positional arguments: (1, 2, 3, 4)
Keyword arguments: {'1': 1, '2': 2, '3': 3}

## Big combination

In [ ]:
def func(pos1, pos2, *args, key1 ='this', **kwargs):
  print(pos1, pos2, args, key1, kwargs)

func(1, 2, 3, 4, 5, key1 = "This is first key", key2 = "Second key", arbitrary_key = "arbitrary key")

1 2 (3, 4, 5) This is first key {'key2': 'Second key', 'arbitrary_key': 'arbitrary key'}

# Side effects

In [ ]:
def print_x(x):
  print("Within the function")
  print(id(x))
  print(x)

x = 4

print("Before the call")
print(id(x))

print_x(x)

print("After the call")
print(id(x))

Before the call
11126784
Within the function
11126784
4
After the call
11126784

In [ ]:
def print_x(x):
  print("Within the function")

  x = x + 1
  
  print(id(x))

  print(x)

x = 4

print("Before the call")
print(id(x))

print_x(x)

print("After the call")
print(id(x))

Before the call
11126784
Within the function
11126816
5
After the call
11126784

## In this example we are going to view what do we consider by side effects of functions

### Updating a list with the assignment of the result to the new list

In [ ]:

def no_side_effects(cities):
    print(cities)
    cities = cities + ["Birmingham", "Bradford"]
    print(cities)

locations = ["London", "Leeds", "Glasgow", "Sheffield"]
no_side_effects(locations)
print(locations)

['London', 'Leeds', 'Glasgow', 'Sheffield']
['London', 'Leeds', 'Glasgow', 'Sheffield', 'Birmingham', 'Bradford']
['London', 'Leeds', 'Glasgow', 'Sheffield']

### Create a list with the augmented assignment operator

when u have an array

get_lenght(array):

get_lenght(*array):

# list in our main part of the function
# list -> function -> python sendds reference to the list to the function 
# based on operation:
  * the list outisde either is modified

# list = list + other_list - in this way initial list is not affected
# +=

In [ ]:
def side_effects(cities):
    print(cities)
    # cities = cities + ["Birmingham", "Bradford"]
    cities += ["Birmingham", "Bradford"]
    print(cities)
 
locations = ["London", "Leeds", "Glasgow", "Sheffield"]

side_effects(locations)

print(locations)

['London', 'Leeds', 'Glasgow', 'Sheffield']
['London', 'Leeds', 'Glasgow', 'Sheffield', 'Birmingham', 'Bradford']
['London', 'Leeds', 'Glasgow', 'Sheffield', 'Birmingham', 'Bradford']

### In the example above it is possible to prevent the observed situation by passing the copy of the list to the function

In [ ]:
def side_effects(cities):
    print(cities)
    cities += ["Paris", "Marseille"]
    print(cities)
 
locations = ["Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg"]

# : - passes a local copy of array to the function 
# list 
side_effects(locations[:])
print(locations)

['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg']
['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg', 'Paris', 'Marseille']
['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg']

In [ ]:
# shallow copy - copies only the first layer of object 
# deep copy  - copies the entire object

def side_effects(cities):
    print(cities)
    cities[0] += ["Paris", "Marseille"]
    print(cities)
 
locations = [
    ["Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg"]
    ]

# locations[:] - creates shallow copy of the object
[
    [1, 2, 3],
    [3, 4, 5]
]

side_effects(locations[:])
print(locations)

[['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg']]
[['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg', 'Paris', 'Marseille']]
[['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg', 'Paris', 'Marseille']]

In [ ]:
from copy import deepcopy
def side_effects(cities):
    print(cities)
    cities[0] += ["Paris", "Marseille"]
    print(cities)
 
locations = [["Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg"]]


# created using deepcopy - deepcopy(locations)
side_effects(deepcopy(locations))
print(locations)

[['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg']]
[['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg', 'Paris', 'Marseille']]
[['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg']]

# Higher Order Functions

## Usage of filter function

In [ ]:
def is_even(x):
    return x%2 == 0

print(list(filter(is_even, range(5))))

[0, 2, 4]

## Usage of map function

In [ ]:
def square(x):
  return x ** 2


print(list(map(square, range(5))))

[0, 1, 4, 9, 16]

## Custom function

In [ ]:
def square(x):
  return x ** 2

def cube(x):
  return x ** 3
  
# lambda funcitons are passed usually
def custom_sum(values, function):
    # 20 + 10 = 30
    print(tuple(map(function, values)))
    return sum(map(function, values))

values = range(5)
print(custom_sum(values, square))
print(custom_sum(values, cube))

(0, 1, 4, 9, 16)
30
(0, 1, 8, 27, 64)
100

## Returning a function

In [ ]:
def by_factor(factor):
  
  def multiply(number):
    return number * factor
  
  return multiply

def get_by_factor(factor, number):
    return factor * number
  
# print(get_by_factor(2, 10))

double = by_factor(2)
# value of double is currently a function 

print("Double examples:")
print(f"\t2 * 2 = {double(2)}")
print(f"\t3 * 2 = {double(3)}")

triple = by_factor(3)
print("Triple examples:")
print(f"\t2 * 3 = {triple(2)}")
print(f"\t3 * 3 = {triple(3)}")

Double examples:
	2 * 2 = 4
	3 * 2 = 6
Triple examples:
	2 * 3 = 6
	3 * 3 = 9

In [ ]:
def make_logger(target):
    print("Filename: " + target)

    def logger(data):
        print(f"Writing - {data}")
        with open(target, 'a') as f:
            f.write(data + '\n')

    return logger


foo_logger = make_logger('foo.txt')
foo_logger('Hello')
foo_logger('World')

Filename: foo.txt
Writing - Hello
Writing - World

# Lambda functions

In [ ]:
def compose1 (f, g):
	# get the result of g(x)
	# pass the result of g(x) to f(x)
	# return the result of f(x)
	return lambda x: f(g(x))

# lambda_func = lambda x: x * x 
square = lambda x: x * x

print("Simple lambda function:")
print(square)
print(square(12))

print("Higher order function used with lambda functons")
# 2 fumctions
# 1 function - f(x) = return square of x 
# 2 function = g(x) = inreases x by 1

f = compose1 ( lambda x: x * x, lambda x: x + 1)

# we pass 12 to the function
# first g(x) executes -> g(12) = 12 + 1  = 13
# second f(x) executes -> f(x) -> f(g(X)) = f(13) = 13 * 13 = 169

result = f(12)
print(f"Evaluates to f(g(x+1)) where x = {12} => {result}")

Simple lambda function:
<function <lambda> at 0x7ff95cde5dd0>
144
Higher order function used with lambda functons
Evaluates to f(g(x+1)) where x = 12 => 169

# Tasks

## Args/kwargs

:* Write a function that has four optional parameters (with defaults):
  *   fore_color
  *   back_color
  *   link_color
  *   visited_color

* It should print each variable and its values in the following format:
    * fore_color - \<value\>
    * back_color - \<value\>
    * link_color - \<value\>
    * visited_color - \<value\>

* Call the function using different ways:

  * Using just positional arguments:

    * func('red', 'blue', 'yellow', 'chartreuse')

  * Using just keyword arguments:

    * func(link_color='red', back_color='blue')

  * using *args and/or **kwargs

    * regular = ('red', 'blue')

    * links = {'link_color': 'chartreuse'}

## Lambda

Write and demonstrate a Lambda function named stg() that appends .txt
to its argument. What happens when you call the function with an integer?

## Function analysis

Assume that s1 = "Hi" and s2 = "ya". In the function call model_two(s1 + s2):
* What is the argument for the function call?
* Write the implied assignment statement that happens during the call. - to what s1 and s2 gets assigned in the function call
* What will be the value of parameter word when model_two begins executing?
* Predict the output that will be produced by the function call

In [ ]:
def model_two(word):
  ans = word * len(word)
  print(ans)
  
def main():
  print("Starting main...")
  w = input("Enter a word: ")
  model_two(w)
  print("All done!")

main()

## Side effects of functions in Python

Perform a research and submit a code that will show the side effects of functions in Python